@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-card {
  width: 520px;
  padding: 15px 0;
}

.calculator-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calculator-card__heading {
  font-family: "Poppins", sans-serif;
}

/* switch css starts here */
.currency-switch-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f8c400;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f8c400;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.currency-switch-labels {
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
}
/* switch css ends here */

.amount-invested-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.amount-invested-wrapper span {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  background: transparent;
  font-size: 20px;
}

.amount-invested-input {
  width: inherit;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 0 55px;
  border: 1px solid #ececec;
  background: #f9fafb;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* use balance css ends here */
.balance-btn-gp {
  margin: 10px 0;
  display: flex;
}

.conversion-equivalent-wrapper {
  margin-top: 10px;
}

.conversion-equivalent {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.balance-btn-label {
  background-color: #fff9aa;
}

.balance-btn-label,
.balance-btn-gp button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 9px 23px;
  gap: 10px;
}

.balance-btn-gp button {
  cursor: pointer;
  border: none;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.balance-btn-gp button:hover,
.balance-btn-gp button.selected {
  border: 1px solid #fed700;
  background-color: #fceb74;
}

.balance-btn-gp button:nth-child(2) {
  margin: 0 10px;
}
/* use balance css ends here */

/* time frame css starts here */
.heading-timeframe {
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
}

.timeframe-btn-gp {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.timeframe-btn-gp button {
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  padding: 9px 23px;
  gap: 10px;
  cursor: pointer;
  background-color: #f9fafb;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.timeframe-btn-gp button:hover,
.timeframe-btn-gp button.selected {
  border: 1px solid #fed700;
  background-color: #fceb74;
}
/* time frame css ends here */

/* accelerated-apy css starts here */
.accelerated-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.accelerated-label {
  font-family: "Poppins", sans-serif;
}
/* accelerated-apy css ends here */

/* tier css starts here */
.heading-tier-modifier {
  color: #a3a3a3;
}

.tier-btn-gp button {
  color: #a2a2a2;
}

.tier-btn-gp button:hover {
  color: #000;
}
/* tier css ends here */

/* current rates css starts here */
.current-rate-label span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #a3a3a3;
}

.current-rate-input {
  margin: 10px 0;
  width: inherit;
  padding: 0 40px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ececec;
  background: #f9fafb;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #000;
}

.current-rate-equivalent-label span {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #a3a3a3;
}
/* current rates css ends here */

/* handle button css starts here */
.handle-btn-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.handle-btn-wrapper button {
  padding: 14px 100px;
  gap: 10px;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.05);
  border: none;
}

.btn-apply {
  color: #fff;
  background: #000;
}

.btn-cancel {
  border: 1px solid #000 !important;
}
/* handle button css ends here */

/*accordion  css starts here */
.accordion {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #fff !important;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.panel {
  margin-top: 10px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* accordion css ends here */

/* apy css starts here */
.apy-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.apy-wrapper span {
  font-family: "Poppins", sans-serif;
}

.apy-value {
  color: #fac200;
  font-size: 20px !important;
}
/* apy css ends here */

/* disclaimer list css starts here */
.disclaimer-list {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: #a3a3a3;
}
/* disclaimer list css ends here */

.current-rate-wrapper button {
  border: none;
  cursor: pointer;
}

.current-rate-wrapper button:hover,
.current-rate-wrapper button:active {
  opacity: 0.8;
}

.current-rate-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.current-rate-wrapper button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  background: transparent;
}

.current-rate-wrapper span {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  background: transparent;
  font-size: 20px;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  .calculator-card {
    width: 90%;
    margin: 0 auto;
  }

  .amount-invested-input,
  .current-rate-input {
    padding: 0 20px;
  }

  .handle-btn-wrapper button {
    padding: 14px 50px;
  }

  .timeframe-btn-gp button,
  .balance-btn-gp button,
  .tier-btn-gp button {
    padding: 9px 15px;
  }

  .amount-invested-input,
  .current-rate-input {
    padding: 0 80px;
  }
}
